<tr>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ settings.extra_height }}</td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ settings.extra_width }}</td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ settings.glue_min_width }}</td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ settings.rail_extra }}</td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ settings.drawer_front.name }}</td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ settings.drawer_slab.name }}</td>
    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
        <button hx-get="{% url 'edit_misc_settings' %}"
                hx-target="closest tr"
                class="text-indigo-600 hover:text-indigo-900"
                title="Edit">
            <svg class="w-5 h-5 inline" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path>
            </svg>
        </button>
    </td>
</tr> 